*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit',Helvetica, sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 490px;
    border-radius: 1rem;
    padding: 15px;
    text-align: center;
}
.card img{
    border-radius: 0.8rem;
    width: 290px;
    height: 290px;
}
.card h1{
    font-size: 22px;
    font-weight: 700;
    padding: 18px 0px 5px;
    color: hsl(218, 44%, 22%);
}
.card p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 10px 13px 0px;
}
.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 10px;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }
